extends layout.pug 

block content 
    .main 
        .cont
            h1.title #{ task.title }
            h3.desc Deadline: 
            p.time #{ task.date }
            h3.desc Task:
            p.description #{ task.description }
        