extends layout.pug 

block content 
    main.main
        h1.intro-msg This is the To Do app which helps you to be organized.
         
        a.create(href='/create') Create a task

        if deleted 
            p.success The task has been successfully deleted!

        p.disclaimer This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.